.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    
  }
  
  .details {
    width: 28rem;
  }
  
  .details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .register {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orDivider {
    text-align: center;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #e72929;
  }

@media (max-width: 768px) {
    .details {
        width: 24rem;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 2rem;
    }

    .details {
        width: 90%;
        max-width: 20rem;
    }

    .register {
        flex-direction: column;
        gap: 0.5rem;
    }
}
